[submodule "01-steps-page"]
	path = 01-steps-page
	url = https://github.com/urvangibran/01-steps-page.git
[submodule "02-checker-app"]
	path = 02-checker-app
	url = https://github.com/urvangibran/02-checker-app.git
[submodule "03-flashcard"]
	path = 03-flashcard
	url = https://github.com/urvangibran/03-flashcard.git
